<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Text parser</title>
  </head>
  <body style="background-color:white">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">TextParser.in</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">About us <span class="sr-only">(current)</span> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact us <span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
    <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
  </form >

</nav>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Welcome to TextParser's</strong> It is About me page
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
     <div class ='container'>

  <h1 style="text-align:center;font-size:300%;color:black;">MUCH IS YET TO BE UPDATE HERE :)</h1>

  <br>
  <br>
<h1 style="text-align:center;font-size:300%;color:black;"><mark style="background-color:#ffffe6;color:#000000">About Us</mark></h1>

  <pre>
    <p style="font-size:130%;"><i>
    
   

Hey there!
Textutils is my first website created with <strong>python, HTML, and bootstrap.</strong>
Here are some questions coming into your head.
I know what are they
What does this website do?
Why this is created?
Is this really can remove <strong>punctuations?</strong> <strong>remove newlines? </strong><strong>calculate the character length?</strong>

So the answer to all these questions is here
This website does multiple functions with your given text
It can remove punctuations,
It can make your text capitalize,
It can remove extra spaces and newlines,
It can also calculate the length of your given text  :)

      This website is created by <strong>Kush Namdev.</strong>
This website is a part of my road to web development with Django and python.

This website is created as a purpose of understanding the basics of Django and learn how a website can be created so easily.
Thank you if you had watched my website and let me know if you have some suggestions to improve it.
      <strong>-kush</strong></i></p></pre>
    </div>
  </body>
  </html>
